{
    metrics
}

:2020 {
    @allowed remote_ip private_ranges

    reverse_proxy @allowed localhost:2019 {
        header_up Host localhost
    }
    respond 403
}

{$SERVER_NAME:http://} {
    root ./public
    log
    encode zstd br gzip

    route {
        mercure {
            publisher_jwt {$MERCURE_PUBLISHER_JWT_KEY:!ChangeThisMercureHubJWTSecretKey!}
            subscriber_jwt {$MERCURE_SUBSCRIBER_JWT_KEY:!ChangeThisMercureHubJWTSecretKey!}
            anonymous
        }

        handle_path /prometheus/* {
            reverse_proxy prometheus:9090
        }

        handle /grafana/* {
            reverse_proxy grafana:3000
        }

        php_server {
            root ./public
            worker {
                file index.php
                num 1
                {$FRANKENPHP_WATCH:}
            }
        }
    }
}
